[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/liztojo
[access "refs/for/refs/*"]
	read = group user/liztojo
	push = group user/liztojo
	label-Code-Review = -2..+2 group user/liztojo
	label-Verified = -1..+1 group user/liztojo
	rebase = group user/liztojo
	removeReviewer = group user/liztojo
	submit = group user/liztojo
[access "refs/heads/*"]
	read = group user/liztojo
	create = group user/liztojo
	push = +force group user/liztojo
	pushMerge = group user/liztojo
[access "refs/tags/*"]
	push = group user/liztojo
	push = +force group user/liztojo
